
@import "https://fonts.googleapis.com/css?family=Lato";
html {
    color: grey;
    margin: 0;
    padding: 0;
    width: 100%;
}
.row {
    padding: 0;
}
#outer-dropzone {
    height: 200px;
}
#inner-dropzone {
    height: 100px;
}
.dropzone {
    background-color: #ccc;
    border: 4px dashed transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    transition: background-color 0.3s ease 0s;
    width: 80%;
}
.drop-active {
    border-color: #aaa;
}
.drop-target {
    background-color: #ccc;
    border-color: #fff;
    border-style: solid;
}
.drag-drop {
    background-color: #29e;
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
    transform: translate(0px, 0px);
    transition: background-color 0.3s ease 0s;
}
.drag-drop.can-drop {
    background-color: #ed5a86;
    border-color: #ed5a86;
    color: #fff;
}
body {
    background-color: #eae5d2;
    height: 100%;
    padding: 0;
    width: 100%;
}
.container-fluid {
    margin: 0;
    padding: 0 0 10px;
    width: 100%;
}
#header {
    background: #f9f9f9 none repeat scroll 0 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
#team-logo {
    float: left;
    margin: 0;
    top: 0;
    width: 25%;
}
.page-header {
    background: #f9f9f9 none repeat scroll 0 0;
    border-top: 4px solid #ccc;
    color: #999;
    margin: 0 -40px 40px;
    overflow: auto;
    padding: 20px 40px;
    text-transform: uppercase;
    width: 100%;
}
#headline {
    padding-top: 20px;
}
.page-header h1 {
    color: #000;
    line-height: 0.88rem;
}
img {
    max-width: 100%;
}
form {
    bottom: 0;
    display: block;
    height: 100px;
    left: 0;
    margin: 0 auto auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 500px;
}
form input {
    border: 2px solid #777777;
    border-radius: 25px;
    font-size: 1em;
    height: 10px;
    padding: 20px 35px;
    width: 120px;
}
form input:focus {
    outline: 0 none;
    width: 300px;
}
button {
    background: #666 none repeat scroll 0 0;
    border: medium none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-size: 0.75em;
    height: 50px;
    opacity: 0;
    padding: 10px 25px;
    text-transform: uppercase;
}
form button:hover {
    background: #222 none repeat scroll 0 0;
}
form input:focus ~ button {
    display: inline-block;
    opacity: 1;
}
#preference-list {
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    float: right;
    margin: 0 25px 0 0;
    padding: 8px;
    top: -100px;
}
h3 {
    color: #ed5565;
    font-family: "Lato",sans-serif;
    font-size: 17px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.choice {
    margin: 4px 0 0;
    position: relative;
}
.drag-drop {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #eaeaea;
    border-color: #dadada;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 0;
    color: grey;
    margin: 0 0 3px;
    padding: 2px 5px 5px;
    position: relative;
}
#outer-dropzone {
    width: 100%;
}
#okButton {
    text-align: center;
}
.btn {
    background: #ed5a86 none repeat scroll 0 0;
    border-radius: 8px;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    padding: 10px 25px;
    text-decoration: none;
}
.btn:hover {
    background: #ad395e none repeat scroll 0 0;
    text-decoration: none;
}
