@import url('https://fonts.googleapis.com/css?family=Lato');
html{
    width: 100%;
    margin: 0;
    padding: 0;
}

#outer-dropzone {
    height: 200px;
}

#inner-dropzone {
    height: 100px;
}

.dropzone {
    background-color: #ccc;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
    
    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;
    
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    
    transition: background-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
}



body{
	width: 100%;
	height: 100%;
	background-color: #eae5d2;
	padding: 0px;
	padding-top: 0; 
}

.container-fluid {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    width: 100%;
}

#header{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #f9f9f9;
}

#team-logo{
	margin: 0;
	width: 25%;
	float: left;
	top:0;
}

.page-header{
	background: #f9f9f9;
    margin: 0px -40px 40px;
    padding: 20px 40px;
    padding-left: 40px; 
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
    width: 100%;
    overflow: auto;
}

#headline{
	padding-top: 20px;
}

.page-header h1{
	line-height: 0.88rem;
    color: #000;
}

img{
	max-width: 100%;
}

a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    a:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter: alpha(opacity=50); /* IE7 */
        opacity: 0.6;
        text-decoration: none;
    }

#preference-list{
    margin: 0;
    margin-right: 25px;
    float: right;
    display: inline-block;
    padding: 8px;
    background-color: #fff;
    border-radius: 3px;
}

h3{
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #ED5565;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

.choice{
    position: relative;
    margin: 4px 0px 0px 0px;
}

.drag-drop{
    position: relative;
    background-color: #eaeaea;
    margin: 0px 0px 1px 0px;
    border: 1px solid #dadada;
    border-width: 1px 1px 0px 1px;
    color: #333;

}

#outer-dropzone{
    width: 100%;
}
